<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konsung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--home键权限-->
    <uses-permission android:name = "android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <!--android:screenOrientation="landscape"-->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConfigActivity"
            android:theme="@style/DialogActivity"/>

        <service
            android:name=".service.AIDLServer"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.konsung.aidlService" />
            </intent-filter>
        </service>
        <service android:name=".service.AudioService"/>
        <!--配置是否开启日志收集，false：开发不用开启，true:测试验证开启-->
        <meta-data
            android:name="catch"
            android:value="false" />
    </application>

</manifest>
